.elementor-element.elementor-element-RsfiPyx5.e-flex.e-con-boxed.e-con.e-parent.two_bg.lazy.entered.applied {
    background-image: url('img/fundo-edge-2.JPG')!important;
}

.video-yt {
    width: 80%;
    margin: 30px auto 0;
}

.elementor-77 .elementor-element.elementor-element-kozbbitu .swiper-slide {
    padding: 0 14px;
}

.twbb_slides-wrapper.news-slider .two_bg.lazy.entered.applied {
    height: 162px!important;
}

/* #news-container .elementor-widget-container {
    margin: 0!important;
    padding: 6%!important;
} */

#news-container .elementor-element .twbb_cta-content-wrapper {
    display: block;
    /* padding: 6%!important; */
}

#news-container .elementor-element .twbb_cta-content-wrapper p {
    margin-bottom: 20px;
}

.elementor.elementor-94 {
    margin-top: -200px;
}

@media (min-width:1180px) {
    .elementor-widget-container.two_bg.lazy,
    .two_bg.lazy.entered.applied {
        height: 524px!important;
    }
}