@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway",sans-serif;
}

header {
    background-color: #fff;
    position: sticky;
    height: 80px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1.5px solid rgb(227, 224, 229);
}

img {
    max-width: 100%;
    height: auto;
}

img.logo {
    max-width: 120px;
}

header nav {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
}


header nav a.nav-item {
    color: #3a3640;
    text-decoration: none;
    padding-right: 4%;
}

header nav a.nav-item:last-child,
#menu nav .nav-itens div:last-child {
    color: rgb(76, 0, 159);
    border: 1.5px solid rgb(76, 0, 159);
    background-color: transparent;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgb(76, 0, 159);
    border: 1.5px solid rgb(76, 0, 159);
}

header nav a.nav-item:last-child:hover {
    border: 1.5px solid rgb(102, 0, 213);
    color: rgb(102, 0, 213);
}

header nav a.nav-item:hover {
    color: rgb(76, 0, 159);
}

.slide {
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}


.slide.slide-1 {
    background-image: url(../img/home-simplifique-os-processos.jpeg);
}

.sobre .slide.slide-1 {
    background-image: url(../img/sobre.jpeg);
}

.o-que-fazemos .slide.slide-1 {
    background-image: url(../img/o-que-fazemos.jpeg);
}

.plataformas .slide.slide-1 {
    background-image: url(../img/plataformas.jpeg);
}

.carreiras .slide.slide-1 {
    background-image: url(../img/carreiras.jpeg);
}

.contato .slide.slide-1 {
    background-image: url(../img/contato.jpeg);
}

.insights .slide.slide-1 {
    background-image: url(../img/insights.jpeg);
}


.slide.slide-2 {
    background-image: url(../img/home-vanguarda.jpeg);
}

.slide.slide-3 {
    background-image: url(../img/home-antecipe-o-futuro.jpeg);
}

.slide.slide-4 {
    background-image: url(../img/home-mentes-brilhantes.jpeg);
}

.slide.slide-5 {
    background-image: url(../img/home-cloud-qualquer-lugar.jpeg);
}

.slide.slide-6 {
    background-image: url(../img/home-resilinecia-cibernetica.jpeg);
}

.slide.slide-7 {
    background-image: url(../img/home-nuvem-privada.jpeg);
}

.slide h1 {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.15;
    letter-spacing: 0em;
    font-weight: 700;
}

.slide h2 {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
}

.slide p {
    margin: 20px 0 20px 0;
    color: #fff;
    max-width: 360px;
}

.button-slide {
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border: 2px solid;
    display: inline-block;
    font-weight: 600;
}

.button-slide:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

main .swiper-topo .swiper-pagination-bullet {
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 0;
    width: 10px;
    height: 10px;
    margin: 0 10px!important;
}

main .swiper-topo .swiper-pagination {
    bottom: 20px!important;
    opacity: 1;
}

main .swiper-topo .swiper-pagination-bullet-active {
    background: #fff;
}

.video-embed-cont {
    max-width: 920px;
    margin: 0 auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
}
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#transformacao {
    background-image: url(../img/fundo-section.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 96px 0px
}

#transformacao h2 {
    line-height: 1;
    font-weight: 600;
}

#transformacao p {
    margin: 20px 0 40px;
}

#solucoes {
    padding: 80px 0;
    background: rgb(251, 250, 252);
}

#solucoes h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

#solucoes p {
    text-align: center;
    max-width: 692px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgb(58, 54, 64);
    margin-bottom: 30px;
}

#solucoes .cta {
    text-align: center;
    margin: 0 auto;
}

#solucoes .cta .cta-btn {
    background: rgb(76, 0, 159);
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    min-width: max-content;
    height: 48px;
    display: inline-block;
}

#solucoes .cta .cta-btn:hover {
    background: rgb(102, 0, 213);
}

#solucoes .cta .cta-btn:hover img {
    filter: brightness(0) invert(1) opacity(1);
}

#solucoes .cta .cta-btn img {
    margin-left: 4px;
    filter: brightness(0) invert(1) opacity(0.6);
}

.card-solucoes {
    margin-top: 30px;
}

.card-solucoes .item-card {
    background: rgb(245, 138, 31);
    background-image: url(../img/Vector.2c49d231.webp);
    padding: 70px 24px 40px;;
    color: #fff;
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 20px;
    height: 400px;
    margin-bottom: 8px;
}

.card-solucoes .item-card.card-2 {
    background-color: rgb(0, 208, 242);
    height: 514px;
}

.card-solucoes .item-card.card-3 {
    background-color: rgb(76, 0, 159);
}

.card-solucoes .item-card.card-4 {
    background-color: rgb(76, 0, 159);
    margin-top: -116px;
}

.card-solucoes .item-card.card-5 {
    background-color: rgb(57, 103, 102);
    height: 284px;
}

.card-solucoes .item-card.card-6 {
    background-color: rgb(51, 51, 51);
    margin-top: -116px;
}

.card-solucoes .col-lg-4 {
    padding: 0 4px;
}

#solucoes .card-solucoes .item-card h2 {
    text-align: left;
}

.itens-solucoes {
    margin-top: 20px;
    padding-left: 0;
}

.itens-solucoes li {
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    margin-bottom: 20px;
}

.list-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-right: 10px;
}

#construa {
    padding: 80px 0px;
    background-image: url(../img/fundo-section.jpg);
    color: #fff;
    background-position: center;
    text-align: center;
    background-size: cover;
}

#construa h2 {
    line-height: 110%;
    font-size: 40px;
    letter-spacing: 0em;
    font-weight: 600;
    max-width: 544px;
    margin: 0 auto 24px;
}

#construa p {
    max-width: 544px;
    margin: 0 auto 30px;
}

#construa .cta .cta-btn {
    background: transparent;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    min-width: max-content;
    height: 48px;
    display: inline-block;
    border: 2px solid #fff;
}

#construa .cta .cta-btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(44, 0, 92);
}

#inspire-se, .inspire-se {
    padding: 80px 0;
    background: rgb(251, 250, 252);
}

.inspire-se {
    padding: 40px;
}

.inspire-se.dark {
    background: rgb(76, 0, 159);
}

#inspire-se h2, .inspire-se h2 {
    font-weight: 600;
    color: rgb(20, 0, 41);
}

.inspire-se.dark h2 {
    color: #fff;
}

#inspire-se .cta {
    float: right;
}

#inspire-se .cta .cta-btn, 
.studios .cta .cta-btn {
    background: rgb(76, 0, 159);
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    min-width: max-content;
    height: 48px;
    display: inline-block;
    border: 2px solid #fff;
}

#inspire-se .cta .cta-btn:hover,
.studios .cta .cta-btn:hover {
    background: rgb(102, 0, 213);
    color: #fff;
}

.cards-insights {
    margin-bottom: 40px;
    margin-top: 40px;
}


.card-post {
    text-decoration: none;
    color: rgb(20, 0, 41);
}

.cards-insights .swiper-slide:hover {
    outline: rgb(76, 0, 159) solid 1px; 
}


.inspire-se.dark .cards-insights .swiper-slide:hover {
    outline: rgb(245, 138, 31) solid 1px;
}

.card-post .thumb {
    height: 168px;
    background-size: cover;
}

.inspire-se.dark .card-post .thumb {
    height: 182px;
}

.card-post .card-content {
    background-color: #fff;
}

.card-post .card-icon {
    background: rgb(76, 0, 159);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    margin-top: -30px;
    margin-left: 24px;
}

/* .cards-insights .swiper-slide:first-child {
    margin-left: 1px;
} */

.cards-insights .swiper-slide {
    margin-top: 1px;
}

.cards-insights .swiper-slide:hover .card-icon {
    background: rgb(102, 0, 213);
}

.card-post .td-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.card-post .t-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    height: 104px;
}

.card-post .card-content {
    padding: 64px 24px 24px;
    height: 376px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.inspire-se.dark .card-post .card-content {
    height: 207px;
    padding: 24px;
    gap: 30px;
}

/* .cards-insights .swiper-slide:hover .card-post .card-content {
    padding: 64px 23px 24px;
} */

.card-post .category p {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgb(84, 79, 89);
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-icon img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.card-desc p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    height: 72px;
    width: 100%;
    color: rgb(58, 54, 64);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-title h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    height: 46px;
    width: 100%;
    letter-spacing: 0.02em;
    color: rgb(20, 0, 41);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-post .read-more p {
    color: rgb(76, 0, 159);
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 0;
}

.cards-insights .swiper-slide:hover .read-more p {
    text-decoration: underline;
}

img.arrow-right {
    max-width: 16px;
    margin-left: 6px;
}

.swiper-posts .swiper-pagination,
.swiper-produtos .swiper-pagination,
.carreiras #sec2 .swiper-pagination,
.swiper-dna .swiper-pagination {
    position: relative;
    bottom: 0;
}

.carreiras #sec2 .swiper-pagination {
    position: absolute;
}

.swiper-posts .swiper-slide {
    filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 2px 8px);
}

.swiper-posts .swiper-button-prev,
.swiper-posts .swiper-button-next,
.swiper-produtos .swiper-button-prev,
.swiper-produtos .swiper-button-next,
.swiper-oqf .swiper-button-prev,
.swiper-oqf .swiper-button-next,
.swiper-dna .swiper-button-prev,
.swiper-dna .swiper-button-next {
    position: relative;
    bottom: 0;
    margin-top: 26px;
}

.swiper-posts .swiper-button-prev, 
.swiper-posts .swiper-button-next,
.swiper-produtos .swiper-button-prev, 
.swiper-produtos .swiper-button-next,
.swiper-oqf .swiper-button-prev, 
.swiper-oqf .swiper-button-next,
.swiper-dna .swiper-button-prev,
.swiper-dna .swiper-button-next {
    float: right;
}

.swiper-posts .swiper-button-prev,
.swiper-produtos .swiper-button-prev,
.swiper-oqf .swiper-button-prev,
.swiper-dna .swiper-button-prev {
    margin-right: 48px;
}

.swiper-posts .swiper-button-prev,
.swiper-posts .swiper-button-next,
.swiper-produtos .swiper-button-prev,
.swiper-produtos .swiper-button-next,
.swiper-oqf .swiper-button-prev,
.swiper-oqf .swiper-button-next,
.swiper-dna .swiper-button-prev,
.swiper-dna .swiper-button-next {
    height: 48px;
    color: rgb(76, 0, 159);
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    min-width: max-content;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    padding: 0px;
    width: 48px;
    border: 2px solid rgb(76, 0, 159);
    background: rgb(251, 250, 252);
}

.inspire-se.dark .swiper-posts .swiper-button-prev,
.inspire-se.dark .swiper-posts .swiper-button-next,
.swiper-dna .swiper-button-prev,
.swiper-dna .swiper-button-next {
    background: transparent;
    border-color: rgb(251, 250, 252);
    color: rgb(251, 250, 252);
}

.swiper-posts .swiper-button-prev:hover,
.swiper-posts .swiper-button-next:hover,
.swiper-produtos .swiper-button-prev:hover,
.swiper-produtos .swiper-button-next:hover,
.swiper-oqf .swiper-button-prev:hover,
.swiper-oqf .swiper-button-next:hover {
    background: rgb(76, 0, 159);
    border: 0px;
    color: #fff;
}

.inspire-se.dark .swiper-posts .swiper-button-prev:hover,
.inspire-se.dark .swiper-posts .swiper-button-next:hover,
.swiper-dna .swiper-button-next:hover,
.swiper-dna .swiper-button-prev:hover  {
    background: rgb(251, 250, 252);
    border: 0px;
    color: rgb(76, 0, 159);
}

.swiper-posts .swiper-button-prev:after,
.swiper-posts .swiper-button-next:after,
.swiper-produtos .swiper-button-prev:after,
.swiper-produtos .swiper-button-next:after,
.swiper-oqf .swiper-button-prev:after,
.swiper-oqf .swiper-button-next:after,
.swiper-dna .swiper-button-prev:after,
.swiper-dna .swiper-button-next:after {
    font-size: 20px;
}

.swiper-dna .swiper-pagination-bullet {
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 0;
    width: 10px;
    height: 10px;
    margin-left: 0!important;
    margin-right: 14px!important;
    opacity: 1!important;
}

.swiper-dna .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-posts .swiper-pagination,
.swiper-produtos .swiper-pagination,
.swiper-oqf .swiper-pagination {
    position: absolute;
    text-align: left;
    margin-top: 20px;
}

.swiper-posts .swiper-pagination-bullet,
.swiper-produtos .swiper-pagination-bullet,
.swiper-oqf .swiper-pagination-bullet {
    background: transparent;
    border: 1.5px solid rgba(76, 0, 159, 0.5);
    border-radius: 0;
    width: 10px;
    height: 10px;
    opacity: 1;
    margin-right: 14px!important;
    margin-left: 0!important;
}

.inspire-se.dark .swiper-posts .swiper-pagination-bullet {
    border: 1.5px solid rgb(251, 250, 252);
}

.inspire-se.dark .swiper-posts .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 1.5px solid rgb(251, 250, 252);
    background: rgb(251, 250, 252);
}

.swiper-posts .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-produtos .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-oqf .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgb(76, 0, 159);
    border: 1.5px solid rgb(76, 0, 159);
}

.swiper-dna .swiper-pagination {
    text-align: left;
    margin-top: 30px;
    position: absolute;
}

footer {
    background-color: #000;
    padding: 60px 0 0;
}

.logo-footer {
    max-width: 150px;
}

footer h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

footer ul {
    padding: 0;
}

footer ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    list-style: none;
    margin-bottom: 20px;
}

footer ul li a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.bottom-footer {
    padding: 32px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
}

.copyright {
    color: rgba(255, 255, 255, 0.8);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .col-md-9 {
    display: flex;
    align-items: center;
}

#menu {
    display: none;
    width: 100%;
    background: #fff;
    height: max-content;
    padding-bottom: 30px;
    position: sticky;
    z-index: 999;
    top: 80px;
    height: 100vh;
}

#menu nav div {
    padding: 12px 16px;
    border: none;
    text-align: center;
    cursor: pointer;
    text-align: center;
}

#menu nav div a {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgb(58, 54, 64);
    text-decoration: none;
}

#menu-button {
    display: none;
}

#tecnologia-inovadora {
    padding: 80px 0;
    background: 100% 100% / contain no-repeat rgb(76, 0, 159);
    background-image: url(../img/banner-roxo.png);
    color: #fff;
}

strong {
    font-weight: bold;
}

.sobre h2, .o-que-fazemos .sobre {
    font-weight: 600;
}

#tecnologia-inovadora .content-text {
    margin-top: 60px;
}

.sobre #nosso-compromisso {
    padding: 96px 0 56px;
    background: rgb(251, 250, 252);
}

.sobre #nosso-compromisso h2 {
    color: rgb(20, 0, 41);
    margin-bottom: 24px;
}

.cards-iso {
    margin-top: 30px;
}

.card-iso {
    box-sizing: border-box;
    background-color: white;
    height: 315px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 8px;
    padding: 24px;
    margin-bottom: 24px;
}

.card-iso img {
    max-width: 40px;
}

.card-iso h3 {
    margin: 20px 0 12px;
    color: rgb(44, 0, 92);
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.02em;
}

.card-iso p {
    color: rgb(58, 54, 64);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.sobre #sec-time-line {
    padding: 96px 0px 30px;
    background: rgb(251, 250, 252);
}

.sobre #sec-time-line h2 {
    color: rgb(20, 0, 41);
    font-weight: 600;
    font-size: 32px;
    line-height: 115%;
    margin: 0px 0px 80px;
}

.sobre #time-line h3 {
    color: rgb(20, 0, 41);
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
}

.sobre #time-line h2 {
    color: rgb(44, 0, 92);
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    margin: 0;
}

.sobre #time-line .marco {
    text-align: right;
}

.sobre #time-line .point-marco {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(76, 0, 159);
    box-sizing: border-box;
}

.sobre #time-line .col-md-2 {
    padding: 2% 6.9%;
}

.sobre #time-line .row {
    margin: 40px 0;
}

.sobre #time-line {
    background: linear-gradient(rgba(76, 0, 159, 0) 0%, rgb(76, 0, 159) 30%, rgb(76, 0, 159) 70%, rgba(76, 0, 159, 0) 100%);
    background-repeat: no-repeat;
    background-size: 5px;
    background-position: center;
    padding: 40px 0;
}

.o-que-fazemos #sec2, 
.plataformas #sec2 {
    padding: 96px 0;
}

.carreiras #sec2, 
.carreiras #sec3 {
    padding: 60px 0 0;
    background: rgb(251, 250, 252);
}

.carreiras #sec3 {
    padding-bottom: 80px;
}

.content-text-qf {
    padding: 18% 0;
    padding-right: 32px;
}

.o-que-fazemos h2 {
    font-weight: 600;
}

.content-text-qf h2 {
    margin-bottom: 30px;
}

.o-que-fazemos #sec3 {
    background: url(../img/Gradient_Edge.fa018ec0.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 30px;
}

.o-que-fazemos #sec3 h2 {
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.o-que-fazemos #sec3 h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    color: rgb(255, 255, 255);
    width: 155px;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
}

.components-ns {
    margin-top: 60px;
}

.o-que-fazemos #sec3 a {
    text-decoration: none;
}

.o-que-fazemos #sec3 a h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.02em;
    color: rgb(255, 255, 255);
    margin-top: 106px;
}

.o-que-fazemos #sec3 a h4::after {
    position: relative;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 3.5px solid rgb(229, 229, 229);
    border-top: 3.5px solid rgb(229, 229, 229);
    transform: rotate(135deg);
    margin-left: 11px;
    top: -3px;
}

#sec3 .topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.o-que-fazemos #sec4 {
    background: rgb(251, 250, 252);
    padding: 96px 0 80px;
}

.o-que-fazemos #sec4 h2 {
    color: rgb(20, 0, 41);
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 115%;
    max-width: 744px;
}

.o-que-fazemos #sec4 p {
    color: rgb(58, 54, 64);
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 744px;
}

.mcard {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 276px;
    width: 168px;
    padding: 24px;
    filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 2px 8px);
}

.mcard:hover {
    outline: rgb(102, 0, 213) solid 1.5px
}

.mcard:hover .saiba-mais {
    text-decoration: underline;
}

.mcard h5 {
    color: rgb(20, 0, 41);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0px;
    text-align: center;
}

.cont-content {
    margin-bottom: 80px;
}

.plataformas #parceiros {
    padding: 80px 0;
}

.plataformas #sec2 {
    padding-bottom: 10px;
}

#parceiros h2 {
    font-weight: 600;
}

#parceiros .cards-parceiros {
    margin-top: 40px;
}

.cards-parceiros .card-parceiro {
    background-color: white;
    box-shadow: rgba(31, 0, 117, 0.08) 0px 2px 22px;
    width: auto;
    height: 380px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(58, 54, 64);
    text-decoration: none;
    margin-bottom: 24px;
}

.cards-parceiros .card-parceiro .logo-parceiro {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.cards-parceiros .card-parceiro p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.cards-parceiros .card-parceiro .card-saiba-mais {
    color: rgb(76, 0, 159);
    padding: 12px 0px;
    border: 0px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
}

.cards-parceiros .card-parceiro:hover .card-saiba-mais {
    text-decoration: underline;
}

#tecnologias-parceiras .grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-height: max-content;
    margin-top: 40px;
}

#tecnologias-parceiras .grid-container .gridItem {
    color: rgb(58, 54, 64);
    padding: 26px 40px 0px 0px;
    margin: 0px 10px 0px 0px;
    border-bottom: 1px solid rgb(227, 224, 229);
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    max-width: 90%;
    min-height: 62px;
    line-height: 115%;
    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-start;
    font-size: 14px !important;
}

.plataformas h2 {
    font-weight: 600;
}

#parceiros, #tecnologias-parceiras, .plataformas #sec2 {
    background: rgb(251, 250, 252);
}

#tecnologias-parceiras {
    padding: 60px 0;
}

#dna-edge {
    padding: 80px 0;
    background: rgb(76, 0, 159);
}

#dna-edge h2 {
    color: #fff;
    font-weight: 600;
}

.cards-dna {
    margin-top: 40px;
}

.card-dna {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 40px 24px;
    gap: 24px;
    width: 264px;
    height: 378px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.card-dna img {
    width: 60px;
    height: 60px;
}

.card-dna h5 {
    font-size: 20px;
    text-align: center;
    min-height: 46px;
    font-weight: 600;
    color: rgb(20, 0, 41);
    letter-spacing: 0.02em;
}

.card-dna p {
    font-size: 16px;
    color: rgb(58, 54, 64);
    text-align: center;
    line-height: 150%;
    font-weight: 400;
    vertical-align: baseline;
}

#beneficios {
    padding: 80px 0;
    background: rgb(251, 250, 252);
}

#beneficios h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 115%;
    color: rgb(44, 0, 92);
    margin-bottom: 20px;
}

#beneficios p {
    color: rgb(58, 54, 64);
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.cards-beneficios {
    margin-top: 40px;
}

.cards-beneficios .col-md-6.col-lg-4 {
    margin-bottom: 24px;
}

.card-ben {
    max-width: 360px;
    min-width: 360px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
}

.card-ben img {
    width: 60px;
    height: 60px;
}

.content-card-ben h5 {
    color: rgb(20, 0, 41);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0;
}

.content-card-ben p {
    color: rgb(58, 54, 64);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

#form-contato {
    background: rgb(255, 255, 255);
    padding-bottom: 60px;
}

.contato #form-contato h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 115%;
    color: rgb(58, 54, 64);
    margin-bottom: 8px;
}

#form-contato p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgb(58, 54, 64);
    margin-bottom: 32px;
}

.container-tags {
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: center;
    align-items: center;
    min-width: 200px;
    gap: 8px 5.5px;
    font-size: 30px;
}

.container-tags p {
    align-items: flex-start;
    padding: 4px 8px;
    outline: rgba(255, 255, 255, 0.7) solid 1.5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    font-feature-settings: "liga" 0;
    color: rgb(255, 255, 255);
    opacity: 0.85;
}

.circle {
    width: 3px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.post .slide h1 {
    margin-bottom: 0;
}

/* Posts - Insights */
.post #content {
    background: rgb(251, 250, 252);
    padding-bottom: 40px;
    padding-top: 90px;
}

.jVTMFq, .hTAVPc, .eceTYT {
    display: flex;
    background: rgb(251, 250, 252);
    width: 100%;
    max-width: 744px;
    margin: 0px auto;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-feature-settings: "lnum";
}

.post h4 {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 600;
    color: rgb(20, 0, 41);
    margin-top: 30px;
}

.dFEoD {
    display: flex;
    background: rgb(251, 250, 252);
    margin-bottom: 48px;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.jVTMFq .marginBottom16px {
    margin-bottom: 16px;
}

.jVTMFq ul li {
    color: rgb(58, 54, 64);
}

.jVTMFq.customList ul li::marker {
    font-size: 20px;
    color: rgb(102, 0, 213);
}

.hTAVPc .marginBottom24px {
    margin-bottom: 24px;
}

.hTAVPc h4 {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 600;
    color: rgb(20, 0, 41);
}

.hTAVPc ul li {
    color: rgb(58, 54, 64);
}

.hTAVPc.customList ul li::marker {
    font-size: 20px;
    color: rgb(102, 0, 213);
}

.hahjtm {
    width: 1128px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
    height: fit-content;
    box-sizing: border-box;
}

.eceTYT {
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    color: rgb(20, 0, 41);
    max-width: 744px;
    margin: 0 auto;
}

.hTAVRG {
    display: flex;
    background: rgb(251, 250, 252);
    width: 100%;
    max-width: 744px;
    margin: 0px auto;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 48px;
    font-feature-settings: "lnum";
}

.card-depoimento {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: unset;
    padding: 40px;
    align-items: flex-start;
    gap: 40px;
    box-shadow: rgba(31, 0, 117, 0.08) 0px 2px 22px;
}

.topo-card {
    display: flex;
    gap: 12px;
    -webkit-box-align: center;
    align-items: center;
}

.titulo-card {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.titulo-card h5 {
    margin-bottom: 0;
    font-size: 16px;
    color: rgb(20, 0, 41);
    font-weight: 600;
}

.titulo-card p {
    font-size: 14px;
    color: rgb(84, 79, 89);
    font-weight: 400;
    line-height: 115%;
    margin-bottom: 0;
}

/* .icosphere img {
    animation: 20s linear 0s infinite normal forwards running kbasxf;
    display: flex;
} */

.icosphere {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#edgers {
    padding: 80px 0;
    background: rgb(76, 0, 159);
}

#edgers h2 {
    font-weight: 700;
    color: #fff;
}

.cards-edgers {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
}

/* Card Edgers */
.cards-edgers {
    margin-top: 40px;
}

.card-edger {
    background-color: rgb(251, 250, 252);
    display: flex;
    width: 100%;
    height: 366px;
    flex-direction: column;
    gap: 24px;
    padding: 40px 24px;
    margin-bottom: 24px;
}

.avatar img {
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: gray;
}

.avatar-name {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px;
}

.avatar-name h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: rgb(20, 0, 41);
}

.desc-edger {
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    color: rgb(84, 79, 89);
    margin-bottom: 0;
}

.card-container {
    display: flex;
    flex-flow: column wrap;
    max-width: 360px;
    gap: 24px;
}

.legenda-post {
    color: rgb(58, 54, 64);
    word-break: break-all;
    font-weight: normal;
    text-align: center;
    font-size: 12px;
    word-break: break-all;
    line-height: 150%;
    margin: 0;
}

.post b {
    font-weight: 600;
}

.post #content a {
    color: rgb(44, 0, 92);
    overflow-wrap: break-word;
}

.icon-top {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    width: 168px;
    height: 168px;
}

.studios-hero .col-md-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#studios-sec2 {
    padding: 80px 0;
}

#studios-sec2 .content-text-qf {
    padding: 10% 0;
    padding-right: 32px;
}

#solucoes-aops {
    padding: 80px 0;
    background: rgb(76, 0, 159);
}

#solucoes-aops h2 {
    font-weight: 600;
    color: #fff;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));;
    gap: 24px;
    margin-top: 40px;
}

.item-card {
    padding: 40px 24px 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 22px;
    height: inherit;
}

.item-card img {
    width: 56px;
    height: 48px;
}

.item-card h3 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.02em;
    color: rgb(20, 0, 41);
}

#produtos {
    padding: 80px 0;
    background: rgb(251, 250, 252);
}

.container-mcards {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card-produto {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 276px;
    width: 168px;
    padding: 24px;
    filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 2px 8px);
}

.card-produto:hover {
    outline: rgb(102, 0, 213) solid 1.5px;
}

.card-produto:hover p {
 text-decoration: underline;
}

.card-produto img {
    width: 120px;
    height: 100px;
    margin-bottom: 18px;
}

.card-produto .arrow-right {
    margin-bottom: 0;
}

.card-produto h5 {
    color: rgb(20, 0, 41);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0px;
    text-align: center;
}

.card-produto p {
    height: 48px;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    min-width: max-content;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: row;
    width: 100%;
    background: transparent;
    color: rgb(76, 0, 159);
    padding: 12px 0px;
    border: 0px;
    margin-bottom: 0;
}

section h2 {
    font-weight: 600;
}

#carrossel-produtos {
    padding: 80px 0;
    background: rgb(251, 250, 252);
}

.cards-prdt {
    margin-top: 40px;
}

#carrossel-produtos .cta {
    float: right;
}

.o-que-fazemos #sec4 .mcard p.saiba-mais {
    margin-bottom: 0!important;
    height: 48px;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    min-width: max-content;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: row;
    width: 100%;
    background: transparent;
    color: rgb(76, 0, 159);
    padding: 12px 0px;
    border: 0px;
    margin-bottom: 0;
}

#solucoes .item-card.card-3 h2 {
    margin-bottom: 0;
}

#futuro {
    padding: 80px 0;
    background: rgb(76, 0, 159);
}

#futuro h2 {
    color: #fff;
    text-align: center;
}

.container-card-post {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 24px;
    margin-top: 30px;
}

.fosEPL {
    width: 100%;
    max-width: 360px;
    height: inherit;
    padding: 40px 24px;
    background-color: rgb(251, 250, 252);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 16px;
    cursor: pointer;
    text-decoration: none;
}

.hKULYc {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 22px;
}

.bfqsSx {
    width: 56px;
    height: 48px;
}

.jrgCqX {
    font-family: Raleway;
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.02em;
    color: rgb(20, 0, 41);
    text-align: center;
}

.fgHgIP {
    width: fit-content;
    display: flex;
}

.ifUvlE.light-secondary {
    background: transparent;
    color: rgb(76, 0, 159);
    padding: 12px 0px;
    border: 0px;
    font-weight: 600;
}

.ifUvlE img {
    width: 16px;
    height: 16px;
    margin-left: 9px;
}

.fosEPL:hover {
    outline: rgb(245, 138, 31) solid 1.5px;
}

.fosEPL:hover .ifUvlE.light-secondary {
    text-decoration: underline;
}

.plataformas #o-que-fazemos, #certificacoes {
    padding: 80px 0;
    background: rgb(251, 250, 252);
}

.dZblzZ {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
    margin-top: 30px;
}

.cdYnlh {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    width: 360px;
    gap: 24px;
    margin-top: 24px;
}

.jqttoh {
    width: 56px;
    height: 56px;
}

.eBnqId {
    color: rgb(20, 0, 41);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.eSCgeq {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgb(58, 54, 64);
    font-style: normal;
    white-space: normal;
    flex: 0 0 auto;
}

.gqtHXF {
    display: flex;
    width: 100%;
    background-color: rgb(251, 250, 252);
    padding-top: 0;
    padding-bottom: 72px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.fedInt {
    font-weight: 600;
    font-size: 32px;
    line-height: 115%;
    margin-bottom: 0px;
    overflow-wrap: break-word;
    color: rgb(58, 54, 64);
}

.iYpAcy {
    display: flex;
    flex-direction: column;
    width: 456px;
    margin-top: 0px;
}

.bbfqLa {
    color: rgb(58, 54, 64);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0px;
    padding-top: 32px;
}

.dPpdBV {
    max-width: 552px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 8px;
}

.dPrSnC {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fefLzx {
    margin-bottom: 24px;
}

@media (max-width:1280px) {
    .card-edger {
        height: max-content!important;
        margin-top: 0!important;
    }
    .dZblzZ {
        grid-template-columns: auto auto;
    }
}

@media (max-width:992px) {
    header nav {
        display: none;
    }
    #menu-button {
        display: block;
        float: right;
        border: none;
        background: transparent;
    }
    #menu nav div {
        padding: 12px 0;
    }
    .sobre #time-line {
        background: none;
    }
    .sobre #time-line .point-marco {
        display: none;
    }
    .iYpAcy {
        width: 100%;
    }
    .dPpdBV {
        padding-top: 0;
        max-width: 100%;
        -webkit-box-pack: start;
        justify-content: flex-start;
        gap: 24px;
    }
    .gqtHXF {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width:768px) {
    
    #menu-button {
        margin-top: -26px;
    }
    .content-text-qf {
        padding: 10% 0!important;
    }
    .card-dna {
        width: 100%;
    }
    .card-ben {
        max-width: 100%;
        min-width: 100%;
    }
    .dZblzZ {
        grid-template-columns: auto;
    }
}

@media (max-width:540px) {
    .card-solucoes .item-card {
        height: max-content!important;
        margin-bottom: 24px;
        margin-top: 0!important;
    }
    footer .col-md-3 {
        margin-bottom: 30px;
    }
    .card-post .category p {
        min-height: 42px;
    }
    .redes-sociais {
        max-width: 65%;
        margin: 0 auto;
    }
    section#home-carrossel {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    #transformacao h2 {
        font-size: 26px;
        line-height: 115%;
    }
    #solucoes {
        padding: 40px 0;
        text-align: left;
    }
    #solucoes h2 {
        text-align: left;
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 32px;
        line-height: 115%;
    }
    #solucoes p {
        text-align: left;
    }
    #solucoes .cta {
        text-align: left;
    }
    #construa {
        padding: 40px 0!important;
    }
    #inspire-se {
        padding-right: 12px!important;
    }
    .container {
        padding: 0 27px;
    }
    .card-solucoes .col-lg-4 {
        padding: 0;
    }
    #inspire-se .container {
        padding-right: 0;
    }
    #inspire-se .cta {
        float: left;
        margin-top: 20px;
    }
    .swiper-posts .swiper-pagination, 
    .swiper-oqf .swiper-pagination,
    .swiper-produtos .swiper-pagination {
        position: relative;
        text-align: left;
        margin-top: 40px;
    }
    .setas-car {
        float: left;
        margin-left: -10px;
    }
    .o-que-fazemos #sec3 h3 {
        font-size: 16px;
    }
    .o-que-fazemos #sec3 {
        padding: 50px 24px;
    }
    #sec3 .topics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #sec3 .topics.topics-right {
        text-align: right;
    }
    .components-ns {
        padding: 0 14px;
    }
    .mcard {
        margin-bottom: 24px;
    }
    .swiper-dna .swiper-pagination, 
    .swiper-oqf .swiper-pagination,
    .swiper-produtos .swiper-pagination,
    .carreiras #sec2 .swiper-pagination {
        position: relative;
    }
}